body
{
    margin: 0;
    padding: 0;
    background: rgb(0, 174, 255);
}

.box
{
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,50%);
    background: rgb(71, 71, 71);
    height: 40px;
    border-radius: 40px;
    padding: 10px;
}
.box:hover > .search
{
    background: white;
    border-radius: 40px;
}
.search
{
    text-decoration: none;
    float: right;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    transition: 0.4s;
}
.text
{
    background: none;
    border: none;
    float: left;
    font-size: 16px;
    outline: none;
    padding: 0;
    color: white;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
.box:hover > .text
{
    width: 240px;
    padding: 0 6px;
}